{% extends 'inventory/base.html' %}
{% load static %}

{% block content %}
{% if request.META.HTTP_REFERER %}
<div class="mb-4 ms-4">
    <a href="{{ request.META.HTTP_REFERER }}" class="btn-marrom">Voltar</a>
</div>
{% endif %}

<div class="dashboard-container dashboard-box">
    <h2 class="titulo-pagina">Estoque</h2>


    <div class="menu-dashboard">
        <a href="/admin/inventory/iteminventario/" class="btn-bege d-flex align-items-center gap-2">
            <img src="{% static 'icon/iconproduto.png' %}" alt="Produtos" style="height: 20px;"> Produtos
        </a>
        <a href="{% url 'pagina_pedidos' %}" class="btn-bege d-flex align-items-center gap-2">
            <img src="{% static 'icon/pedidos.png' %}" alt="Pedidos" style="height: 20px;"> Pedidos
        </a>
    </div>


    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'add-item' %}" class="btn-bege">+ Adicionar Item</a>
    </div>


    <div class="table-responsive">
        <table class="table dashboard-table table-striped table-bordered">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th colspan="2">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% if items %}
                    {% for item in items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.nome }}</td>
                        <td>{{ item.categoria.nome }}</td>
                        <td>{{ item.quantidade }}</td>
                        <td>R$ {{ item.preco }}</td>
                        <td><a href="{% url 'edit-item' item.id %}" class="btn btn-sm btn-bege">Editar</a></td>
                        <td><a href="{% url 'delete-item' item.id %}" class="btn btn-sm btn-bege">Deletar</a></td>
                    </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="7" class="text-center">Nenhum item encontrado.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>


    <div class="bottom-buttons">
        <a href="{% url 'realizar_venda' %}" class="btn-bege">Realizar Vendas</a>
        <a href="{% url 'relatorio_semanal' %}" class="btn-bege">Exportar Relatório</a>
    </div>
</div>
{% endblock %}