{% extends 'inventory/base.html' %}

{% block content %}
{% if request.META.HTTP_REFERER %}
<div class="mb-4 ms-4">
    <a href="{{ request.META.HTTP_REFERER }}" class="btn-marrom">Voltar</a>
</div>
{% endif %}

<div class="delete-container">
    <form method="POST">
        {% csrf_token %}
        <h1>Tem certeza que deseja deletar <br><strong>{{ item.nome }}</strong>?</h1>
        <p>Essa ação não poderá ser desfeita.</p>

        <button type="submit" class="btn-deletar">Deletar</button>
    </form>
</div>
{% endblock %}