{% extends 'inventory/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% if request.META.HTTP_REFERER %}
<div class="mb-4 ms-4">
    <a href="{{ request.META.HTTP_REFERER }}" class="btn-marrom">Voltar</a>
</div>
{% endif %}

<div class="item-form-container">
    <h1>Item de Inventário</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center mt-4">
            <button type="submit" class="btn-marrom">Adicionar Item</button>
        </div>
    </form>
</div>
{% endblock %}