{% extends 'inventory/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% if request.META.HTTP_REFERER %}
<div class="mb-4 ms-4">
    <a href="{{ request.META.HTTP_REFERER }}" class="btn-marrom">Voltar</a>
</div>
{% endif %}

<div class="login-container">
    <h1>Login</h1>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="text-center mt-4">
            <button class="btn btn-marrom" type="submit">Entrar</button>
        </div>
    </form>

</div>
{% endblock %}